.wrap{
    width: 500px;
    height: 500px;
    background: black;
    padding: 50px;
    border: 10px solid yellow;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.item1{
width: 100px;
height: 100px;
background: pink;

}

.item2{
width: 100px;
height: 100px;
background: green;
}

.item3{
    width: 100px;
    height: 100px;  
    background:red;
}